<body background="https://images6.alphacoders.com/306/thumb-1920-306638.jpg" style="color:white;">
    <div class="jumbotron" style="background-color: rgba(0,0,0,0.5);">
    	<h1 class="small">Bem-Vindo à <span class="bold">Biblioteca</span></h1>
    	<p class="big">da Universidade Estadual do Acre</p>
    </div>

    <% if user_signed_in? %>
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example" style="
            margin-left: 40px;
            margin-right: 40px;
            ">
            <%= link_to "Cadastra Emprestimo", new_emprestimo_path, :class => "btn btn-success", :style => "color: #ffffff" %>
            <%= link_to "Cadastra Aluno", new_aluno_path, :class => "btn btn-success", :style => "color: #ffffff" %>
            <%= link_to "Cadastra Livro", new_livro_path, :class => "btn btn-success", :style => "color: #ffffff" %>
        </div>
    <% end %>
    </div>
</body>

