<div class="container" style="
    width: 736px;
    ">
    
      <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="jumbotron" style="
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 28px;
        padding-bottom: 28px;
        ">
        <h1 class="display-3 text-center" style="margin-bottom: 8px;margin-top: 0px;">BEM VINDO</h1>
        <hr>
        <img src="https://preview.ibb.co/m6wVXo/Library_bookshelf_books_1920x1080_3.jpg" class="img-fluid" style="margin-bottom: 30px;">
        <hr>
        <% if user_signed_in? %>
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic example" style="
                margin-left: 40px;
                margin-right: 40px;
                ">
                <%= link_to "Cadastra Emprestimo", new_emprestimo_path, :class => "btn btn-success", :style => "color: #ffffff" %>
                <%= link_to "Cadastra Aluno", new_aluno_path, :class => "btn btn-success", :style => "color: #ffffff" %>
                <%= link_to "Cadastra Livro", new_livro_path, :class => "btn btn-success", :style => "color: #ffffff" %>
            </div>
        <% end %>
    </div>
<div>

